--
-- PostgreSQL database dump
--

-- Dumped from database version 14.4
-- Dumped by pg_dump version 14.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chatroom_history_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chatroom_history_list (
    id integer NOT NULL,
    chat_hisstory_name character varying(100)
);


ALTER TABLE public.chatroom_history_list OWNER TO postgres;

--
-- Name: chatroom_history_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chatroom_history_list_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chatroom_history_list_id_seq OWNER TO postgres;

--
-- Name: chatroom_history_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chatroom_history_list_id_seq OWNED BY public.chatroom_history_list.id;


--
-- Name: chatroom_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chatroom_list (
    id integer NOT NULL,
    chatroom_name character varying NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    histroy_id integer
);


ALTER TABLE public.chatroom_list OWNER TO postgres;

--
-- Name: chatroom_list_test; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chatroom_list_test (
    id integer NOT NULL,
    chatroom_name character varying NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.chatroom_list_test OWNER TO postgres;

--
-- Name: chatroom_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chatroom_list_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chatroom_list_id_seq OWNER TO postgres;

--
-- Name: chatroom_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chatroom_list_id_seq OWNED BY public.chatroom_list_test.id;


--
-- Name: chatroom_list_test_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chatroom_list_test_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chatroom_list_test_id_seq OWNER TO postgres;

--
-- Name: chatroom_list_test_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chatroom_list_test_id_seq OWNED BY public.chatroom_list.id;


--
-- Name: chatroom_member_relationship; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chatroom_member_relationship (
    id integer NOT NULL,
    chatroom_id integer NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.chatroom_member_relationship OWNER TO postgres;

--
-- Name: chatroom_member_relationship_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chatroom_member_relationship_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chatroom_member_relationship_id_seq OWNER TO postgres;

--
-- Name: chatroom_member_relationship_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chatroom_member_relationship_id_seq OWNED BY public.chatroom_member_relationship.id;


--
-- Name: department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department (
    id integer NOT NULL,
    department_name character varying NOT NULL,
    profit double precision,
    loss double precision,
    department_turnover double precision
);


ALTER TABLE public.department OWNER TO postgres;

--
-- Name: department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.department_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.department_id_seq OWNER TO postgres;

--
-- Name: department_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.department_id_seq OWNED BY public.department.id;


--
-- Name: public_channel_chat_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.public_channel_chat_history (
    id integer NOT NULL,
    user_name character varying,
    message_content character varying,
    created_at timestamp with time zone,
    user_id integer
);


ALTER TABLE public.public_channel_chat_history OWNER TO postgres;

--
-- Name: testchatrecord_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.testchatrecord_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.testchatrecord_id_seq OWNER TO postgres;

--
-- Name: testchatrecord_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.testchatrecord_id_seq OWNED BY public.public_channel_chat_history.id;


--
-- Name: first_group_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.first_group_history (
    id integer DEFAULT nextval('public.testchatrecord_id_seq'::regclass) NOT NULL,
    user_name character varying,
    message_content character varying,
    created_at timestamp with time zone,
    user_id integer
);


ALTER TABLE public.first_group_history OWNER TO postgres;

--
-- Name: not_public_group_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.not_public_group_history (
    id integer DEFAULT nextval('public.testchatrecord_id_seq'::regclass) NOT NULL,
    user_name character varying,
    message_content character varying,
    created_at timestamp with time zone,
    user_id integer
);


ALTER TABLE public.not_public_group_history OWNER TO postgres;

--
-- Name: only_you_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.only_you_history (
    id integer DEFAULT nextval('public.testchatrecord_id_seq'::regclass) NOT NULL,
    user_name character varying,
    message_content character varying,
    created_at timestamp with time zone,
    user_id integer
);


ALTER TABLE public.only_you_history OWNER TO postgres;

--
-- Name: second_group_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.second_group_history (
    id integer DEFAULT nextval('public.testchatrecord_id_seq'::regclass) NOT NULL,
    user_name character varying,
    message_content character varying,
    created_at timestamp with time zone,
    user_id integer
);


ALTER TABLE public.second_group_history OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(250) NOT NULL,
    profile_pciture text,
    created_date date NOT NULL,
    updated_date date NOT NULL,
    join_date date NOT NULL,
    identity character varying(50) NOT NULL,
    department_id integer,
    salary integer,
    user_status character varying(50),
    display_name character varying(50),
    age integer,
    turnover integer
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: tableforuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tableforuser_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tableforuser_id_seq OWNER TO postgres;

--
-- Name: tableforuser_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tableforuser_id_seq OWNED BY public.users.id;


--
-- Name: chatroom_history_list id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_history_list ALTER COLUMN id SET DEFAULT nextval('public.chatroom_history_list_id_seq'::regclass);


--
-- Name: chatroom_list id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_list ALTER COLUMN id SET DEFAULT nextval('public.chatroom_list_test_id_seq'::regclass);


--
-- Name: chatroom_list_test id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_list_test ALTER COLUMN id SET DEFAULT nextval('public.chatroom_list_id_seq'::regclass);


--
-- Name: chatroom_member_relationship id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_member_relationship ALTER COLUMN id SET DEFAULT nextval('public.chatroom_member_relationship_id_seq'::regclass);


--
-- Name: department id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department ALTER COLUMN id SET DEFAULT nextval('public.department_id_seq'::regclass);


--
-- Name: public_channel_chat_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.public_channel_chat_history ALTER COLUMN id SET DEFAULT nextval('public.testchatrecord_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.tableforuser_id_seq'::regclass);


--
-- Data for Name: chatroom_history_list; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chatroom_history_list (id, chat_hisstory_name) FROM stdin;
2	second_group_history
1	first_group_history
3	only_you_history
4	not_public_group_history
\.


--
-- Data for Name: chatroom_list; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chatroom_list (id, chatroom_name, created_at, updated_at, histroy_id) FROM stdin;
1	1st Group	2022-07-08 11:21:27.63+08	2022-07-08 11:21:27.63+08	1
2	2nd Group	2022-07-08 11:21:27.632+08	2022-07-08 11:21:27.632+08	2
3	Only You	2022-07-08 11:21:27.633+08	2022-07-08 11:21:27.633+08	3
4	Not Public Group	2022-07-08 11:21:27.635+08	2022-07-08 11:21:27.635+08	4
\.


--
-- Data for Name: chatroom_list_test; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chatroom_list_test (id, chatroom_name, created_at, updated_at) FROM stdin;
1	1st Group	2022-07-08 11:21:27.63+08	2022-07-08 11:21:27.63+08
2	2nd Group	2022-07-08 11:21:27.632+08	2022-07-08 11:21:27.632+08
3	Only You	2022-07-08 11:21:27.633+08	2022-07-08 11:21:27.633+08
4	Not Public Group	2022-07-08 11:21:27.635+08	2022-07-08 11:21:27.635+08
\.


--
-- Data for Name: chatroom_member_relationship; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chatroom_member_relationship (id, chatroom_id, user_id) FROM stdin;
1	1	1
2	3	2
4	4	12
6	2	11
3	1	11
5	4	11
7	4	2
\.


--
-- Data for Name: department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department (id, department_name, profit, loss, department_turnover) FROM stdin;
2	Human Resources	648391.76	403308.1	620611.49
3	Sales	521879.59	355919.67	669363.38
4	Training	554702.43	391996.55	420898.98
5	Business Development	796196.75	317049.03	593318.32
6	Training	648572.95	360480.53	661033.66
7	Engineering	611377.26	374849.28	677961.21
8	Marketing	746323.75	349139.39	529751.4
9	Legal	493394.12	437585.85	406964.86
10	Services	511237.53	358579.89	416847.81
1	IT	350123.87	112488.65	222345
\.


--
-- Data for Name: first_group_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.first_group_history (id, user_name, message_content, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: not_public_group_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.not_public_group_history (id, user_name, message_content, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: only_you_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.only_you_history (id, user_name, message_content, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: public_channel_chat_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: second_group_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.second_group_history (id, user_name, message_content, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: chatroom_history_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chatroom_history_list_id_seq', 1, true);


--
-- Name: chatroom_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chatroom_list_id_seq', 1, false);


--
-- Name: chatroom_list_test_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chatroom_list_test_id_seq', 1, false);


--
-- Name: chatroom_member_relationship_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chatroom_member_relationship_id_seq', 7, true);


--
-- Name: department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department_id_seq', 1, true);


--
-- Name: tableforuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tableforuser_id_seq', 1, false);


--
-- Name: testchatrecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.testchatrecord_id_seq', 888, true);


--
-- Name: chatroom_history_list chatroom_history_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_history_list
    ADD CONSTRAINT chatroom_history_list_pkey PRIMARY KEY (id);


--
-- Name: chatroom_list_test chatroom_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_list_test
    ADD CONSTRAINT chatroom_list_pkey PRIMARY KEY (id);


--
-- Name: chatroom_list chatroom_list_test_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_list
    ADD CONSTRAINT chatroom_list_test_pkey PRIMARY KEY (id);


--
-- Name: chatroom_member_relationship chatroom_member_relationship_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_member_relationship
    ADD CONSTRAINT chatroom_member_relationship_pkey PRIMARY KEY (id);


--
-- Name: department department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department
    ADD CONSTRAINT department_pkey PRIMARY KEY (id);


--
-- Name: users tableforuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT tableforuser_pkey PRIMARY KEY (id);


--
-- Name: chatroom_list chatroom_list_test_histroy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_list
    ADD CONSTRAINT chatroom_list_test_histroy_id_fkey FOREIGN KEY (histroy_id) REFERENCES public.chatroom_history_list(id);


--
-- Name: chatroom_member_relationship chatroom_member_relationship_chatroom_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_member_relationship
    ADD CONSTRAINT chatroom_member_relationship_chatroom_id_fkey FOREIGN KEY (chatroom_id) REFERENCES public.chatroom_list_test(id);


--
-- Name: chatroom_member_relationship chatroom_member_relationship_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chatroom_member_relationship
    ADD CONSTRAINT chatroom_member_relationship_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users users_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.department(id);


--
-- PostgreSQL database dump complete
--

